ðŸ“Œ **Pandas DataFrame Nedir?**

| **Ã–zellik**   | **AÃ§Ä±klama**                                                                 |
|----------------|------------------------------------------------------------------------------|
| **TanÄ±m**      | 2 boyutlu, etiketli (labelled) veri yapÄ±sÄ±dÄ±r. SatÄ±r ve sÃ¼tunlardan oluÅŸur. |
| **Benzerlik**  | Excel tablosu gibi dÃ¼ÅŸÃ¼nÃ¼lebilir.                                           |
| **Temel yapÄ±** | Her sÃ¼tun bir Series objesidir.                                             |
| **Veri tipi**  | SayÄ±, string, boolean, tarih vs. olabilir.                                 |

ðŸ”¹ **DataFrame Temel Ã–zellikleri**

| **Ã–zellik**      | **AÃ§Ä±klama**                            
|-------------------|----------------------------------------
| `df.head()`       | Ä°lk 5 satÄ±rÄ± gÃ¶sterir                  
| `df.tail()`       | Son 5 satÄ±rÄ± gÃ¶sterir                    
| `df.shape`        | (satÄ±r, sÃ¼tun) sayÄ±sÄ±                   
| `df.columns`      | SÃ¼tun isimleri                         
| `df.index`        | SatÄ±r indexleri                        
| `df.info()`       | Veri tipi, eksik veri bilgisi           
| `df.describe()`   | SayÄ±sal sÃ¼tunlarÄ±n istatistikleri

ðŸ”¹ **DataFrame GÃ¼ncelleme**

| **Ä°ÅŸlem**          | **Kod Ã–rneÄŸi**                              |
|---------------------|---------------------------------------------|
| **SÃ¼tun ekleme**    | `df["maaÅŸ"] = [5000, 6000, 5500]`          |
| **SÃ¼tun silme**     | `df.drop("yaÅŸ", axis=1, inplace=True)`     |
| **SatÄ±r silme**     | `df.drop(0, axis=0)`                       |
| **DeÄŸer gÃ¼ncelleme**| `df.at[1, "yaÅŸ"] = 35`                     |

In [2]:
import numpy as np
import pandas as pd

In [5]:
data = np.random.rand(4, 3)
data

array([[0.33579544, 0.27413091, 0.22333632],
       [0.02316388, 0.8339102 , 0.70977304],
       [0.32622942, 0.19196395, 0.38916085],
       [0.32445934, 0.33112717, 0.28830936]])

In [6]:
dataFrame = pd.DataFrame(data)
dataFrame

          0         1         2
0  0.335795  0.274131  0.223336
1  0.023164  0.833910  0.709773
2  0.326229  0.191964  0.389161
3  0.324459  0.331127  0.288309

In [ ]:
dataFrame[0] #ilk kolonu yazdÄ±rÄ±r

0    0.335795
1    0.023164
2    0.326229
3    0.324459
Name: 0, dtype: float64

In [8]:
# satÄ±r ve sÃ¼tÃ¼n iÅŸlemleri
yeniDataFrame = pd.DataFrame(data,index=["a", "b", "c", "d"], columns=["A", "B", "C"])
yeniDataFrame

          A         B         C
a  0.335795  0.274131  0.223336
b  0.023164  0.833910  0.709773
c  0.326229  0.191964  0.389161
d  0.324459  0.331127  0.288309

In [9]:
yeniDataFrame["A"] # A sÃ¼tununu yazdÄ±rÄ±r

a    0.335795
b    0.023164
c    0.326229
d    0.324459
Name: A, dtype: float64

In [11]:
yeniDataFrame["B"]

a    0.274131
b    0.833910
c    0.191964
d    0.331127
Name: B, dtype: float64

In [ ]:
yeniDataFrame[["A", "C"]] # A ve C sÃ¼tunlarÄ±nÄ± yazdÄ±rÄ±r

          A         C
a  0.335795  0.223336
b  0.023164  0.709773
c  0.326229  0.389161
d  0.324459  0.288309

In [14]:
#SatÄ±r yazdÄ±rma iÅŸlemi
yeniDataFrame.loc["a"] # a satÄ±rÄ±nÄ± yazdÄ±rÄ±r

A    0.335795
B    0.274131
C    0.223336
Name: a, dtype: float64

In [15]:
yeniDataFrame.loc[["a", "b"]] # a ve b satÄ±rlarÄ±nÄ± yazdÄ±rÄ±r

          A         B         C
a  0.335795  0.274131  0.223336
b  0.023164  0.833910  0.709773

In [16]:
# index bazlÄ± yazdÄ±rma iÅŸlemi
yeniDataFrame.iloc[0] # 0. indexi yazdÄ±rÄ±r

A    0.335795
B    0.274131
C    0.223336
Name: a, dtype: float64

In [ ]:
# sÃ¼tun ekleme iÅŸlemi
yeniDataFrame["D"] = [1, 2, 3, 4]  # D sÃ¼tunu ekler
yeniDataFrame

          A         B         C  D
a  0.335795  0.274131  0.223336  1
b  0.023164  0.833910  0.709773  2
c  0.326229  0.191964  0.389161  3
d  0.324459  0.331127  0.288309  4

In [ ]:
yeniDataFrame.drop("D", axis=1, inplace=True)  # D sÃ¼tununu siler inplace=True ile deÄŸiÅŸiklik orijinal DataFrame Ã¼zerinde yapÄ±lÄ±r and axis=1 sÃ¼tunlarÄ± ifade eder
yeniDataFrame

          A         B         C
a  0.335795  0.274131  0.223336
b  0.023164  0.833910  0.709773
c  0.326229  0.191964  0.389161
d  0.324459  0.331127  0.288309

In [ ]:
yeniDataFrame.drop("d", axis=0, inplace=True)  # d  satÄ±rÄ±nÄ± siler axis 0 satÄ±rlarÄ± ifade eder ama default olarak zaten satÄ±rÄ± kontrol ettiÄŸi iÃ§in axis=0 yazmaya gerek yoktur
yeniDataFrame

          A         B         C
a  0.335795  0.274131  0.223336
b  0.023164  0.833910  0.709773
c  0.326229  0.191964  0.389161

In [ ]:
yeniDataFrame # inplace true kullanÄ±ldÄ±ÄŸÄ± iÃ§in yeniDataFrame deÄŸiÅŸti yoksa deÄŸiÅŸmezdi

          A         B         C
a  0.335795  0.274131  0.223336
b  0.023164  0.833910  0.709773
c  0.326229  0.191964  0.389161

In [23]:
ozelVeri = yeniDataFrame.loc["a"]["B"] # a satÄ±rÄ±nÄ±n B sÃ¼tununu yazdÄ±rÄ±r
print(ozelVeri)

0.27413091331079764

In [25]:
print(yeniDataFrame.loc["a","B"] )

0.27413091331079764

In [26]:
yeniDataFrame < 0

       A      B      C
a  False  False  False
b  False  False  False
c  False  False  False

In [27]:
boolFrame = yeniDataFrame < 0
boolFrame

       A      B      C
a  False  False  False
b  False  False  False
c  False  False  False

In [ ]:
yeniDataFrame[boolFrame]
# boolean indexing ile yazdÄ±rma iÅŸlemi

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN

In [29]:
yeniDataFrame[ yeniDataFrame < 0]

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN

In [30]:
yeniDataFrame["A"]

a    0.335795
b    0.023164
c    0.326229
Name: A, dtype: float64

In [31]:
yeniDataFrame["A"] >0

a    True
b    True
c    True
Name: A, dtype: bool

In [ ]:
yeniDataFrame[yeniDataFrame["A"] >0.3] # A sÃ¼tununa gÃ¶re 0.3'dan bÃ¼yÃ¼k olan satÄ±rlarÄ± yazdÄ±rÄ±r

          A         B         C
a  0.335795  0.274131  0.223336
c  0.326229  0.191964  0.389161