ðŸ“Œ **Pandas DataFrame Nedir?**

| **Ã–zellik**   | **AÃ§Ä±klama**                                                                 |
|----------------|------------------------------------------------------------------------------|
| **TanÄ±m**      | 2 boyutlu, etiketli (labelled) veri yapÄ±sÄ±dÄ±r. SatÄ±r ve sÃ¼tunlardan oluÅŸur. |
| **Benzerlik**  | Excel tablosu gibi dÃ¼ÅŸÃ¼nÃ¼lebilir.                                           |
| **Temel yapÄ±** | Her sÃ¼tun bir Series objesidir.                                             |
| **Veri tipi**  | SayÄ±, string, boolean, tarih vs. olabilir.                                 |

ðŸ”¹ **DataFrame Temel Ã–zellikleri**

| **Ã–zellik**      | **AÃ§Ä±klama**                            
|-------------------|----------------------------------------
| `df.head()`       | Ä°lk 5 satÄ±rÄ± gÃ¶sterir                  
| `df.tail()`       | Son 5 satÄ±rÄ± gÃ¶sterir                    
| `df.shape`        | (satÄ±r, sÃ¼tun) sayÄ±sÄ±                   
| `df.columns`      | SÃ¼tun isimleri                         
| `df.index`        | SatÄ±r indexleri                        
| `df.info()`       | Veri tipi, eksik veri bilgisi           
| `df.describe()`   | SayÄ±sal sÃ¼tunlarÄ±n istatistikleri

ðŸ”¹ **DataFrame GÃ¼ncelleme**

| **Ä°ÅŸlem**          | **Kod Ã–rneÄŸi**                              |
|---------------------|---------------------------------------------|
| **SÃ¼tun ekleme**    | `df["maaÅŸ"] = [5000, 6000, 5500]`          |
| **SÃ¼tun silme**     | `df.drop("yaÅŸ", axis=1, inplace=True)`     |
| **SatÄ±r silme**     | `df.drop(0, axis=0)`                       |
| **DeÄŸer gÃ¼ncelleme**| `df.at[1, "yaÅŸ"] = 35`                     |

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = np.random.rand(4, 3)
data

array([[0.41768502, 0.75183953, 0.65399345],
       [0.65001499, 0.85332087, 0.81064297],
       [0.14276336, 0.91361212, 0.94360444],
       [0.46461036, 0.62809261, 0.34237562]])

In [4]:
dataFrame = pd.DataFrame(data)
dataFrame

          0         1         2
0  0.417685  0.751840  0.653993
1  0.650015  0.853321  0.810643
2  0.142763  0.913612  0.943604
3  0.464610  0.628093  0.342376

In [5]:
dataFrame[0] #ilk kolonu yazdÄ±rÄ±r

0    0.417685
1    0.650015
2    0.142763
3    0.464610
Name: 0, dtype: float64

In [6]:
# satÄ±r ve sÃ¼tÃ¼n iÅŸlemleri
yeniDataFrame = pd.DataFrame(data,index=["a", "b", "c", "d"], columns=["A", "B", "C"])
yeniDataFrame

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643
c  0.142763  0.913612  0.943604
d  0.464610  0.628093  0.342376

In [7]:
yeniDataFrame["A"] # A sÃ¼tununu yazdÄ±rÄ±r

a    0.417685
b    0.650015
c    0.142763
d    0.464610
Name: A, dtype: float64

In [8]:
yeniDataFrame["B"]

a    0.751840
b    0.853321
c    0.913612
d    0.628093
Name: B, dtype: float64

In [9]:
yeniDataFrame[["A", "C"]] # A ve C sÃ¼tunlarÄ±nÄ± yazdÄ±rÄ±r

          A         C
a  0.417685  0.653993
b  0.650015  0.810643
c  0.142763  0.943604
d  0.464610  0.342376

In [10]:
#SatÄ±r yazdÄ±rma iÅŸlemi
yeniDataFrame.loc["a"] # a satÄ±rÄ±nÄ± yazdÄ±rÄ±r

A    0.417685
B    0.751840
C    0.653993
Name: a, dtype: float64

In [11]:
yeniDataFrame.loc[["a", "b"]] # a ve b satÄ±rlarÄ±nÄ± yazdÄ±rÄ±r

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643

In [12]:
# index bazlÄ± yazdÄ±rma iÅŸlemi
yeniDataFrame.iloc[0] # 0. indexi yazdÄ±rÄ±r

A    0.417685
B    0.751840
C    0.653993
Name: a, dtype: float64

In [13]:
# sÃ¼tun ekleme iÅŸlemi
yeniDataFrame["D"] = [1, 2, 3, 4]  # D sÃ¼tunu ekler
yeniDataFrame

          A         B         C  D
a  0.417685  0.751840  0.653993  1
b  0.650015  0.853321  0.810643  2
c  0.142763  0.913612  0.943604  3
d  0.464610  0.628093  0.342376  4

In [14]:
yeniDataFrame.drop("D", axis=1, inplace=True)  # D sÃ¼tununu siler inplace=True ile deÄŸiÅŸiklik orijinal DataFrame Ã¼zerinde yapÄ±lÄ±r and axis=1 sÃ¼tunlarÄ± ifade eder
yeniDataFrame

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643
c  0.142763  0.913612  0.943604
d  0.464610  0.628093  0.342376

In [15]:
yeniDataFrame.drop("d", axis=0, inplace=True)  # d  satÄ±rÄ±nÄ± siler axis 0 satÄ±rlarÄ± ifade eder ama default olarak zaten satÄ±rÄ± kontrol ettiÄŸi iÃ§in axis=0 yazmaya gerek yoktur
yeniDataFrame

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643
c  0.142763  0.913612  0.943604

In [16]:
yeniDataFrame # inplace true kullanÄ±ldÄ±ÄŸÄ± iÃ§in yeniDataFrame deÄŸiÅŸti yoksa deÄŸiÅŸmezdi

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643
c  0.142763  0.913612  0.943604

In [17]:
ozelVeri = yeniDataFrame.loc["a"]["B"] # a satÄ±rÄ±nÄ±n B sÃ¼tununu yazdÄ±rÄ±r
print(ozelVeri)

0.7518395337746379

In [18]:
print(yeniDataFrame.loc["a","B"] )

0.7518395337746379

In [19]:
yeniDataFrame < 0

       A      B      C
a  False  False  False
b  False  False  False
c  False  False  False

In [20]:
boolFrame = yeniDataFrame < 0
boolFrame

       A      B      C
a  False  False  False
b  False  False  False
c  False  False  False

In [21]:
yeniDataFrame[boolFrame]
# boolean indexing ile yazdÄ±rma iÅŸlemi

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN

In [22]:
yeniDataFrame[ yeniDataFrame < 0]

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN

In [23]:
yeniDataFrame["A"]

a    0.417685
b    0.650015
c    0.142763
Name: A, dtype: float64

In [24]:
yeniDataFrame["A"] >0

a    True
b    True
c    True
Name: A, dtype: bool

In [25]:
yeniDataFrame[yeniDataFrame["A"] >0.3] # A sÃ¼tununa gÃ¶re 0.3'dan bÃ¼yÃ¼k olan satÄ±rlarÄ± yazdÄ±rÄ±r

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643

In [26]:
# Ä°NDEX Ä°ÅžLEMLERÄ°
yeniDataFrame.index # indexleri yazdÄ±rÄ±r

Index(['a', 'b', 'c'], dtype='object')

In [27]:
yeniDataFrame.reset_index() # indexleri resetler ve yeni bir index oluÅŸturur

  index         A         B         C
0     a  0.417685  0.751840  0.653993
1     b  0.650015  0.853321  0.810643
2     c  0.142763  0.913612  0.943604

In [28]:
yeniDataFrame

          A         B         C
a  0.417685  0.751840  0.653993
b  0.650015  0.853321  0.810643
c  0.142763  0.913612  0.943604

In [38]:
yeniIndexList = ["a--->", "b--->", "c--->"]  # yeni index listesi oluÅŸturur

In [39]:
yeniDataFrame["Yeni Index"] = yeniIndexList  # yeni index sÃ¼tunu ekler
yeniDataFrame

                   A         B         C Yeni Index
Yeni Index
a--->       0.417685  0.751840  0.653993      a--->
b--->       0.650015  0.853321  0.810643      b--->
c--->       0.142763  0.913612  0.943604      c--->

In [40]:
yeniDataFrame.set_index("Yeni Index")  # Yeni Index sÃ¼tununu index olarak ayarlar
yeniDataFrame

                   A         B         C Yeni Index
Yeni Index
a--->       0.417685  0.751840  0.653993      a--->
b--->       0.650015  0.853321  0.810643      b--->
c--->       0.142763  0.913612  0.943604      c--->

In [41]:
yeniDataFrame.drop("Yeni Index", axis=1, inplace=True)  # Yeni Index sÃ¼tununu siler
yeniDataFrame

                   A         B         C
Yeni Index
a--->       0.417685  0.751840  0.653993
b--->       0.650015  0.853321  0.810643
c--->       0.142763  0.913612  0.943604

In [42]:
yeniDataFrame

                   A         B         C
Yeni Index
a--->       0.417685  0.751840  0.653993
b--->       0.650015  0.853321  0.810643
c--->       0.142763  0.913612  0.943604

In [43]:
yeniDataFrame.loc["a--->"]  # Yeni index ile a satÄ±rÄ±nÄ± yazdÄ±rÄ±r

A    0.417685
B    0.751840
C    0.653993
Name: a--->, dtype: float64

In [44]:
ilkIndex = ["Simpson", "Simpson", "Simpson", "South Park","South Park","South Park"]

In [45]:
icIndex = ["Homer", "Bart", "Marge", "Cartman","Kenny","Kyle"]

In [49]:
birlesmisIndex = list(zip(ilkIndex, icIndex))  # iki listeyi birleÅŸtirir
birlesmisIndex

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [54]:
birlesmisIndex = pd.MultiIndex.from_arrays([ilkIndex, icIndex], names=["Dizi", "Karakter"]) 
birlesmisIndex

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           names=['Dizi', 'Karakter'])

In [ ]:
birlesmisIndex = pd.MultiIndex.from_tuples(birlesmisIndex)# tuple tekrarlattirmdagi icin tablo duzgun olustu
birlesmisIndex

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [50]:
cizgiFilmListesi=[[40,"A"],[50,"B"],[60,"C"],[70,"D"],[80,"E"],[90,"F"]]

In [51]:
cizgiFilmNumpy = np.array(cizgiFilmListesi)

In [56]:
cizgiFilmDataFrame = pd.DataFrame(cizgiFilmListesi, index=birlesmisIndex, columns=["SayÄ±", "Harf"])
cizgiFilmDataFrame

                    SayÄ± Harf
Simpson    Homer      40    A
           Bart       50    B
           Marge      60    C
South Park Cartman    70    D
           Kenny      80    E
           Kyle       90    F

In [57]:
cizgiFilmDataFrame.loc["Simpson"]  # Simpson dizisindeki karakterleri yazdÄ±rÄ±r

       SayÄ± Harf
Homer    40    A
Bart     50    B
Marge    60    C

In [58]:
cizgiFilmDataFrame.loc["Simpson"] .loc[ "Homer"]  # Simpson dizisindeki Homer karakterinin verilerini yazdÄ±rÄ±r

SayÄ±    40
Harf     A
Name: Homer, dtype: object

In [59]:
cizgiFilmDataFrame.loc["Simpson", "Homer"]  # Simpson dizisindeki Homer karakterinin verilerini yazdÄ±rÄ±r

SayÄ±    40
Harf     A
Name: (Simpson, Homer), dtype: object

In [60]:
cizgiFilmDataFrame.index.names = ["Dizi", "Karakter"]  # index isimlerini ayarlar
cizgiFilmDataFrame

                     SayÄ± Harf
Dizi       Karakter
Simpson    Homer       40    A
           Bart        50    B
           Marge       60    C
South Park Cartman     70    D
           Kenny       80    E
           Kyle        90    F